#home {
    width: 100%;
    height: 596px;
    background: #87509C;
}

#home #header {
    width: 100%;
    height: 80px;
}

#header img {
    margin-top: 57px;
    margin-left: 212px;
    float: left;
}

#header #menu {
    margin-top: 30px;
    margin-right: 212px;
    float: right;
}


#menu ul li {
    display: inline;
    padding: 0.75px 1.5px;
    color: white;
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
    list-style-type: none;
}

#menu ul li:hover {
    display: inline;
    padding: 0.75px 1.5px
    height: 30px;
    width: 40px;
    background: #643A79;
    border-radius: 3px;
}

#home #home-body {
    clear: both;
    margin-top: 13%;
    width: 100%;
    height: 50px;
}
#home-title h1 {
    color: white;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
}

#home #home-button {
    margin-top: 5%;
    margin-right: 40%;
    margin-left: 40%;
    height: 50px;
    background: orange;
    border-radius: 5px;
    
    

}

#home-button p {
    padding-top: 6.5%;
    text-align: center;
    color: white;
    font-family: "Titillium Web", sans-serif;
    
}

#service {
    width: 100%;
    height: 596px;
    
    background: #17c2a4;
}

#service #service-title {
    padding-top: 30px;
}

#service-title h1 {
    text-align: center;
    color: white;
    font-family: "Titillium Web", sans-serif;
}

#service-title hr {
    width: 100px;
    height: 5px;
    color: black;
    background-color: #14a58c;
    border: none;
}

#service-title p {
    text-align: center;
    color: white;
    font-family: "Titillium Web", sans-serif;
}

#option-service {
    text-align: center;
}

#option-service ul {
    display: inline-block;
    padding: 0 5px;
    list-style: none;
}

#option-service ul li {
    color: white;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
}

#team {
    width: 100%;
    height: 914px;
    
    background: #e7f1f8;
}