#home>div{
    width: 100%;
    height: 596px;
}

.header{
    width: 100%;
    height: 596px;
    
    background: #87509C;
}

.header img {
    margin-top: 57px;
    margin-left: 212px;
    float: left;
}

.header #menu {
    margin-top: 70px;
    margin-right: 212px;
    float: right;
}

#menu{
    color: white;
    font-family: "TitilliumWeb Regular";
    font-size: 12px;
}

#acceuil .text-acceuil {
    clear: both;
    
}